body{
    text-align: center;
}
pre{
    background-color: aliceblue;
    border: 1px solid blueviolet;
    font-size: 1.5em;
}
div{
    font-size: large;
}
input{
    width: 70px;
}
table{
    margin: auto;
}