<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
function fn_list(){
	location.href="emp_list";
}
</script>
<body>
<h1>Emp Mod</h1>
<div class="col-md-9">
{% if cnt > 0 %}
{{cnt}}개의 데이터가 수정 되었습니다.
{% else %}
데이터 수정 실패
{%endif%}
</div><br>
<input type="button" class="btn btn-success" value="목록" onclick="fn_list()">
</body>
</html>